body {
	margin: 0;
	
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
   	font-weight: 300;
   	font-size: 16px;
   	line-height: 1.5em;
   	color: #333;
   	min-width: 1040px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h3 {
	font-family: "proxima-nova", Arial, "Lucida Grande", sans-serif; 
	font-size: 40px;
	line-height: 45px;
	font-weight: 300;
}

#intro h3 {
	margin: 20px 0;
}

.ftsize{
	font-family: "proxima-nova", Arial, "Lucida Grande", sans-serif;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: #436EEE;
}

a:hover {

}

.clear {
	clear: both;
}

#header {
	position: relative
}

#header .header-image {
	width: 100%;
	height: 400px;
	background-position: left center;
	background-size: 100%;
	background-repeat: no-repeat;
}



#header .title h1 {
	font-family: "proxima-nova", Arial, "Lucida Grande", sans-serif; 
	font-size: 100px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 200px;
	text-align: center;
	color: #FFF;
	width: 100%;
	height: 200px;
	margin-top: 44px;
}

#header.header-image .title h1 {
	line-height: 400px;
	height: 400px;
	position: absolute;
	top: 0;
	margin-top: 0;
}

#header #nav {
	position: absolute;
	top: 0;
	right: 0;
	font-family: "proxima-nova", Arial, "Lucida Grande", sans-serif; 
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
}

#header #nav ul {
	list-style-type: none;
	margin: 20px 0 0;
}

#header #nav a {
	color: #FFF;
}

#header #nav ul li {
	display: inline;
	margin-right: 18px;
	padding: 3px 7px 2px;
}

.page-about #header #nav li.about,
.page-projects #header #nav li.projects,
.page-read #header #nav li.read,
.page-watch #header #nav li.watch,
.page-listen #header #nav li.listen,
.page-contact #header #nav li.contact {border: 1px solid #FFF;}



#content {
	width: 100%;
}

#content-main {
	width: 853px;
	margin: 0 auto;
}

body.full-width #content-main {
	width: 100%;
}

#intro {
	padding-top: 20px;
}

#footer {
	font-family: "proxima-nova", Arial, "Lucida Grande", sans-serif; 
	background-color: #2F3133;
	color: #CCCCDD;
	text-align: center;
}

#footer a {
	color: #CCCCDD;
}

#footer a:hover {
	color: #FFF;
}

#footer-inner {
	width: 700px;
	margin: 0 auto;
	padding: 30px 0;
}

#footer .email-twitter {
	font-size: 30px;
	font-weight: 100;
	border-top: 1px solid #4F5153;
	padding-top: 10px;
	border-bottom: 1px solid #4F5153;
	padding-bottom: 10px;

}

#footer .email-twitter .label {
	font-weight: 300;
	color: #EEE;
}

#footer .email-twitter .spacing {
	width: 20px;
	display: inline-block;
}

#footer ul {
	list-style-type: none;
	padding: 0;
}

#footer ul li {
	display: inline;
	margin-left: 20px;
}

#footer ul li:first-child {
	margin-left: 0;
}

/**/
#content-main {
	width: 100%;
}

#intro {
	width: 853px;
	margin: 0 auto;
}

#content-main ul#project-list {
	list-style-type: none;
	padding: 0;
	margin-top: 40px;
	margin-bottom: 90px;
}

#content-main ul#project-list li.first:first-child {
	border-top: 1px solid #CCC;
}

#content-main ul#project-list li {
	border-bottom: 1px solid #CCC;
	padding: 20px;
}

#content-main ul#project-list li:hover {
	background-color: #F0F0F0;
}

#content-main ul#project-list a {
	font-size: 50px;
	font-family: "proxima-nova", Arial, "Lucida Grande", sans-serif; 
	color: #000;
	line-height: 50px;
}

#content-main ul#project-list a .name {
	font-weight: 700;
}

#content-main ul#project-list a .info {
	font-weight: 300;
	text-transform: lowercase;
}

#content-main ul#project-list a .info:before {
	content: "/ ";
}

#project {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
}

#project .back {
	position: fixed;
	top: 40px;
	right: 40px;
	z-index: 10;
	padding: 6px 12px 6px 11px;
	border: 1px solid #FFF;
	background-color: rgba(0, 0, 0, 0.3);
}

#project .back a {
	color: #FFF;
	text-shadow: 1px 1px #000;
	text-transform: uppercase;
}

#project img {
	display: block;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#project-info {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	color: white;
	font-family: "proxima-nova", Arial, "Lucida Grande", sans-serif; 
	font-weight: 100;
}



#project-info .desc,  #project-info .links{
	width: 60%;
	float: left;
	box-sizing: border-box;
	padding: 150px 40px 150px 150px;
}

#project-info .links {
	width: 40%;
	float: right;
	padding: 150px 150px 150px 40px;
	box-sizing: border-box;
}

#project-info .links ul {
	list-style-type: none;
	padding: 0;
}

#project-info .links a {
	font-size: 20px;
	color: #FFF;
	text-transform: uppercase;
	
}

#project-info .links a li {
	border-bottom: 1px solid #FFF;
	padding-top: 10px;
	padding-bottom: 10px;
}


#project-info h3 {
	font-size: 50px;
	font-family: "proxima-nova", Arial, "Lucida Grande", sans-serif; 
	line-height: 50px;
	text-transform: uppercase;
	margin: 0;
	font-weight: 100;
}